.loader-container {
    position: fixed;
    inset: 0;
    z-index: 1;
    
    .loader {
      margin: 5rem auto;
      width: 80px;
      aspect-ratio: 1;
      border-radius: 50%;
  
      border: 13px solid transparent;
      border-bottom-color: #00000055;
      border-top-color: #00000055;
  
      animation: spin .8s ease infinite;
    }
  
    @keyframes spin {
      from { rotate: 0deg; }
      to { rotate: 360deg; }
    }
  }