.totalSum-wrapper {
    background-color: white;
    margin-inline-start: 1.5rem;
    height: fit-content;
    flex: 1;
}

.totalSum-inner-wrapper {
    margin: 1.5rem;
}

.totalSum-wrapper h2 {
    font-size: 1.5rem;
}

.totalsum-calc {
    border-top: 1px solid rgba(0, 0, 0, 0.087);
}

.ts-row {
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
}

.totalsum-calc button {
    background-color: rgb(250, 49, 80);
    width: 100%;
    border: 0;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.178);
    border-radius: 2px;
    font-size: 1rem;
}

.bold {
    font-weight: 600;
}

