.order-box {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  justify-content: center;
}

.container-order {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order-details {
  flex: 1;
  margin-left: 16px;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.image-container {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  margin-left: 16px;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

p {
  margin: 0;
  color: black;
}

.product p {
  margin-bottom: 4px;
}