.grid-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;   
}

.grid-container{
    width: 60%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.product-container {
    margin-bottom: 2rem;
}

.grid-text {
    line-height: 2rem;
    font-size: 1rem;
}