.searchform {
    display: flex;
    position: relative;
    z-index: 1;
    .searchbtn {
        width: 3rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
}

.searchinput {
    width: 6rem;
}
}
.clicked{
    visibility: hidden;
    display: none;
    position: absolute;
}
.searchbtnform {
    width: 3rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: transparent;
}
.modal {
    box-shadow: 1px 1px 4px #000055;;
    padding: 0.5rem;
    position: absolute;
    width: 20rem;
    // height:20rem;
    // overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.close {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    cursor: pointer;
}
.modalimg {
    object-fit: cover;
    height: 5rem;
    // width: 100px;
    // height: auto;
    width: 3rem;
}
.modalproducttitel {
    margin-bottom: 5px;
}
.modal-content {
    display: flex;
    flex-wrap: wrap;
  }
  .modalcontainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0;
  }
  .product-details {
    padding-left: 1rem;
    color: aliceblue;
  }