.cart-wrapper {
    background-color: rgb(237, 236, 236);
    width: 75%;
    margin: auto;
    padding: 1.5rem;
    display: flex;
    margin-bottom: 1.5rem;
    
}

.cartItem-wrapper {
    background-color: white;
    flex: 2;
}

.cartItem-wrapper h2,
.cartItem-wrapper .ci-p {
    padding-inline: 1.5rem;
}

.cartItem-wrapper h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.cartItem-details {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.123);
}

.cartItem-details:nth-of-type(1) {
    border: none;
}

.ci-details-left {
    display: flex;
    gap: 1rem;
}

.ci-img-placeholder {
    width: 6rem;
    height: 9rem;
    background-color: grey;
}

.ci-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ci-details-shortDescription,
.ci-details-color,
.ci-details-size {
    opacity: .5;
}

.ci-dropdown {
    width: 5rem;
    height: 1.8rem;
    padding-inline: .4rem;
}

.ci-dropdown:focus {
    outline: 1.5px solid black;
    border: none;
}

.ci-details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.ci-details-right button {
    display: inline-block;
    width: max-content;
    height: min-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    opacity: .7;
}

.ci-details-right p {
    color: rgb(250, 49, 80);
}



