.grid-menu-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;
}

.grid-menu-component h3 {
    font-size: 2.5rem;
}

.grid-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .8rem;
    gap: 1rem;
    list-style: none;
    margin-bottom: 2.5rem;
}