.hero-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    background-color: rgb(243, 242, 242);
}

.hero-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.hero {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;  
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}


.hero h1 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.hero h2 {
    font-size: 2.5rem;
}

.shopNowBtn {
    width: 185px;
    height: 55px;
    background-color: rgb(250, 49, 80);
    border: 0;
    color: #fff;
    font-size: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}


.hero-img-container {

    object-fit: cover;
}

.hero-img-container img {
    width: 625px;
    height: 647px;
    object-fit: cover;
}

.arrowBtn {
    border: none;
    background: transparent;
}

.fade-in { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@media screen and (max-width: 1800px) {
    .hero-container {
        gap: 3rem;
    }
}