.form-register-wrapper {
  box-sizing: border-box;
  padding-left: 20rem;
  padding-top: 20rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}

.form-register-container {
  box-shadow: .2px .2px 5px darkgrey;
  color: rgb(99, 99, 99);
  width: 70rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;

}

.form-register-container h4 {
  font-family: Roboto-Regular, Roboto;
  letter-spacing: 0.01em;
  font-weight: 100;
  text-align: start;
  padding-left: 16px;
}

.top-section-register {
  display: flex;
}

.register-section-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.half-register-input {
  width: 95%;
  height: 3rem;
  border: 0;
  font-size: 1.5rem;
  padding-left: 10px;
  background-color: #fafafa;
}

.top-section-register-full {
  display: flex;
  flex-direction: column;
  width: 97.5%;
}


.whole-register-input {
  height: 3rem;
  width: 100%;
  border: 0;
  font-size: 1.5rem;
  padding-left: 10px;
  background-color: #fafafa;
}

.padding-between {
  padding: 1rem;
}

.padding-between label {
  padding-bottom: .5rem;
}

.section-terms {
  display: flex;
  padding-left: 1rem;
  padding-top: 3rem;
}

.section-terms p {
  padding-left: 10px;
}